@font-face {
  font-family: admin-panel-bold;
  src: url("font/HelveticaNeue-Bold.otf") ;
}

@font-face {
  font-family: admin-panel-farsi;
  src: url("font/Mikhak-Bold.ttf") ;
}

@font-face {
  font-family: admin-panel-Light;
  src: url("font/DiodrumArabic-Semibold.ttf") ;
}

@font-face {
  font-family: admin-panel-Medium;
  src: url("font/HelveticaNeue-Bold.otf") ;
}

@font-face {
  font-family: digital-7;
  src: url("font/digital-7.ttf") ;
}

@font-face {
  font-family: kalamehBold;
  src: url("font/kalameh/Epic Kalameh-Bold.ttf") ;
}

@font-face {
  font-family: kalamehMedium;
  src: url("font/kalameh/Epic Kalameh-Medium.ttf") ;
}

.css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label {
  font-family: kalamehMedium;
}

body {
  margin: 0px;
  padding: 0px;
  background-image: url("./img/pattern.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadein 1.2s;
}

#tags-outlined-listbox {
  li {
    font-family: kalamehMedium;
  }

  div {
    font-family: kalamehMedium;
  }
}

ul.MuiList-root {
  li {
    font-family: kalamehMedium;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.IconModalContainer {
  width: 100%;
  height: 100%;
  position: relative;

  .remove,
  .close {
    padding: 0 10px;
    border-radius: 8px;
    background-color: transparent;
    color: #2c76b7;
    transition: all ease-in-out 0.5s;
    font-family: kalamehMedium;
    position: absolute;
    font-size: 18px;
    outline: none;
    border: transparent;
    cursor: pointer;
  }

  .remove {
    left: 30px;
    top: 20px;

    &:hover {
      filter: brightness(1.3);
    }
  }

  .close {
    right: 30px;
    top: 20px;

    &:hover {
      filter: brightness(1.3);
    }
  }

  .IconContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;

    .card {
      width: 100px;
      height: 100px;
      background-color: #ADAFB6;
      border-radius: 10px;
      margin: auto;
      display: flex;
      transition: all ease-in-out 0.2s;
      cursor: pointer;
      border: 1px solid #FFFFFF;
      position: relative;

      .removeIcoContainer {
        position: absolute;
        left: -15px;
        top: -15px;
        background-color: #FFFFFF;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        z-index: 10;
        transition: all ease-in-out 0.2s;

        &:hover {
          background-color: rgba(142, 142, 142);
        }

        svg {
          color: #b21313;
          margin: auto;
        }
      }

      &:hover {
        filter: brightness(1.3);
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }

      svg {
        width: 80%;
        height: 80%;
        margin: auto;
        transition: all ease-in-out 0.5s;
      }

      &:hover svg {
        color: #4343a4;
        cursor: pointer;
      }

    }
  }
}


.imgContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: auto;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 50%;
  grid-gap: 10px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
}

.mapContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: auto;
  border-radius: 10px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
}

.fileInfoContainer {
  .row {
    display: flex;
    justify-content: space-around;
    direction: rtl;

    p {
      font-family: KalamehMedium;
      font-size: 18px;
      font-weight: 600;
      width: 150px;
      text-align: center;
    }

    input {
      font-family: KalamehMedium;
      font-size: 18px;
      width: 150px;
      text-align: center;
    }
  }
}

.imageFrame {
  .ImageContainer {
    width: 100%;
    max-height: 70%;

    p {
      margin: auto;
      text-align: center;
      font-family: kalamehMedium;
      font-weight: 600;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.add-img-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;

  .add-img {
    font-family: kalamehMedium;
    outline: none;
    background-color: #8f6b38;
    font-weight: 600;
    border: none;
    padding: 3px 20px;
    margin: 3px auto;
    border-radius: 10px;
    color: #ffffff;
    transition: all ease-in-out 0.5s;

    &:hover {
      cursor: pointer;
      filter: brightness(1.3);
    }
  }
}

#body {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

#background {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

#firstbox {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
}

.mainContent {
  height: 100%;
  width: 100%;
  padding: 25px;
  transition: all 0.3s ease-in-out;

  .themeContainer {
    display: flex;

    .themeController {
      margin: auto auto auto 20px;

      button {
        background-color: transparent;
        display: flex;
        width: 45px;
        height: 45px;
        border: none;
        outline: none;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          filter: opacity(0.5);
        }

        svg {
          margin: auto;
        }
      }
    }

  }

  .panelTitle {
    font-family: kalamehMedium;
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, -5%);
    display: none;
  }

  .sideUnionNav {
    color: #FFFFFF;
    direction: rtl;
    font-size: 30px;
    cursor: pointer;
    display: none;
    width: fit-content;
    margin: auto 0 auto auto;
  }

  .branchContainer {
    height: 80px;
    background-color: #0d1723;
    border-radius: 20px;
    display: flex;
    direction: rtl;
    padding: 0 20px;
    transition: all ease-in-out 0.3s;

    .userInfo {
      display: flex;

      .imgContainer {
        border-radius: 50%;
        width: 50px;
        height: 50px;
      }

      p {
        color: #FFFFFF;
        font-family: KalamehMedium;
        margin: auto 10px;
      }
    }

    .logOutNTheme {
      display: flex;

      .logOut {
        display: flex;
        direction: ltr;
        cursor: pointer;

        .logOutIco {
          width: 30px;
          height: 30px;
          margin: auto;

          svg {
            color: #FFFFFF;
            width: 30px;
            height: 30px;
          }
        }
      }

      .ThemeSwitch {
        margin: auto 10px;
        transition: all ease-in-out 0.5s;
        min-width: 40px;

        &:hover {
          cursor: pointer;
          filter: opacity(0.5);
        }

        svg {
          stroke: #FFFFFF;
        }
      }

      p {
        color: #FFFFFF;
        font-family: KalamehMedium;
        margin: auto 10px;
      }
    }

    .branchMenuContainer {
      margin: auto;

      nav {
        padding: 0;
        width: auto;
        height: auto;
        border-radius: 8px;
        background-color: transparent;
      }

      #lock-button {
        background-color: #0d1723;
        padding: 0 10px;
        border-radius: 8px;
        color: #F67C55;
        transition: all ease-in-out 0.5s;

        div {
          display: flex;

          span.css-10hburv-MuiTypography-root {
            font-family: kalamehMedium !important;
          }
        }

        &:hover {
          filter: opacity(0.8);
        }

        p {
          color: #F67C55;
          font-family: kalamehMedium !important;
          margin: 0 5px;
          font-size: 16px;
        }
      }

    }

    .searchBtnContainer {
      display: flex;

      button {
        margin: auto;
        padding: 3px 10px;
        font-family: kalamehMedium;
        outline: none;
        cursor: pointer;
        background-color: #252540;
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
        border-radius: 5px;
        transition: all ease-in-out 0.5s;

        &:hover {
          filter: brightness(1.3);
        }
      }
    }

    .branchProps {
      display: flex;

      button {
        height: 50px;
        min-width: 110px;
        font-family: kalamehMedium;
        font-weight: 500;
        border: 0;
        transform: translateY(calc(var(--y, 0) * 1%)) scale(var(--scale));
        transition: transform 0.1s;
        position: relative;
        color: #FFFFFF;
        background-color: transparent;
        cursor: pointer;
        transition: all ease-in-out 0.3s;
        font-size: 20px;
        margin: auto;

        a {
          color: #FFFFFF;
        }

        &:hover {
          --y: -10;
          --scale: 1.1;
          --border-scale: 1;
        }

        &:active {
          --y: 5%;
          --scale: 0.9;
          --border-scale: 0.9, 0.8;
        }

        &:before {
          content: "";
          position: absolute;
          inset: calc(1rem * -1);
          border: none;
          transform: scale(var(--border-scale, 0));
          transition: transform 0.125s;

          --angle-one: 105deg;
          --angle-two: 290deg;
          --spread-one: 30deg;
          --spread-two: 40deg;
          --start-one: calc(var(--angle-one) - (var(--spread-one) * 0.5));
          --start-two: calc(var(--angle-two) - (var(--spread-two) * 0.5));
          --end-one: calc(var(--angle-one) + (var(--spread-one) * 0.5));
          --end-two: calc(var(--angle-two) + (var(--spread-two) * 0.5));

          mask: conic-gradient(
                          transparent 0 var(--start-one),
                          white var(--start-one) var(--end-one),
                          transparent var(--end-one) var(--start-two),
                          white var(--start-two) var(--end-two),
                          transparent var(--end-two)
          );

          z-index: -1;
        }
      }

    }

  }

  .companyTitle {
    color: #FFFFFF;
    width: fit-content;
    margin: auto;
    text-align: right;
    font-family: kalamehBold;

    span {
      text-align: right;
      font-size: 16px;
    }
  }

  .topItems {
    margin: 60px 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;

    .Items {
      width: 230px;
      margin: auto;
      color: #FFFFFF;
      font-family: kalamehMedium;
      position: relative;
      padding: 10px 0;
      text-align: center;
      cursor: pointer;
      overflow: hidden;
      height: 50px;

      &:before {
        content: 'تاریخ و ساعت';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 40px;
      }

      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 6px;
        border-radius: 20px;
        background-size: 100%;
        background: linear-gradient(90deg, #121F31 -2.97%, #282D39 48.04%, #121F31 101.23%);
        filter: drop-shadow(0px 0px 61px rgba(0, 0, 0, 0.50));
        transition: transform 980ms cubic-bezier(0.2, 0.1, 0.15, 1.32);
      }

      .Title__highlight {
        content: '';
        position: absolute;
        width: 100%;
        bottom: -50px;
        left: 0;
        height: 50px;
        background: linear-gradient(90deg, #121F31 -2.97%, #282D39 48.04%);
        filter: brightness(1.3);
        transition: transform 400ms ease;
        z-index: 5;
      }

      &:hover:after {
        transform: translateY(-2.8em);
      }

      &:hover:before {
        content: 'Amir is the best';
        animation: fadein 1.6s;
      }

      &:hover .Title__highlight {
        transform: translateY(-9.2em);
      }

    }
  }

  .MainItem {
    margin: 30px 0;

    h3 {
      color: #FFFFFF;
      width: fit-content;
      margin: auto;
      text-align: right;
      font-family: kalamehBold;
    }
  }

  .paginationContainer {
    display: flex;
    justify-content: center;
    margin: 10px 0;

    li {
      button {

      }
    }
  }

}

.modalForm {
  display: flex;

  .modalFormContainer {
    width: 90%;
    margin: auto;


    .subtitle {
      font-family: kalamehMedium;
      color: #ffffff;
      margin: 10px 0;
      text-align: center;
    }

    button.delete {
      font-family: kalamehMedium;
      outline: none;
      background-color: #d44e6e;
      font-weight: 600;
      border: none;
      padding: 3px 20px;
      margin: 3px auto;
      border-radius: 10px;
      color: #ffffff;

      &:hover {
        cursor: pointer;
        filter: brightness(1.3);
      }
    }

    .user-box.radioContainer label {
      .css-q8hpuo-MuiFormControl-root {
        direction: rtl;
      }

      display: block;
      padding: 10px 0;
      font-size: 16px;
      pointer-events: none;
      transition: 0.5s;
      font-family: kalamehMedium;
      width: 90%;
      margin: auto;
      text-align: right;
    }

    .css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.MuiSelect-select {
      text-align: right;
    }

    .MuiInputBase-root svg {
      fill: #ffffff;
      left: 0;
    }

    .MuiInputBase-root span {
      color: #ffffff;
      font-family: kalamehMedium;
    }


    .input-container {
      position: relative;
      margin: 10px 0;

      .uploadedImagesContainer {
        display: grid;
        grid-template-columns: auto auto auto auto;

        .uploadedImages {
          width: 80px;
          height: 80px;
          border: #FFFFFF 3px solid;
          border-radius: 15px;
          margin: 10px 0;

          img {
            width: 100%;
            height: 100%;
            border-radius: 15px;
          }
        }
      }


      label {
        font-family: kalamehMedium;
        margin: 0 auto;
        color: #544287;
      }

      .uploadBtn {
        font-family: kalamehMedium;
        outline: none;
        border-radius: 50px;
        background: #ECE4FF;
        font-weight: 600;
        border: none;
        padding: 5px 15px;
        margin: 3px auto;
        color: #9E9CFF;
        transition: all ease-in-out 0.5s;
        display: flex;

        .uploadIco {
          border-radius: 50px;
          background-color: #544287;
          width: 22px;
          height: 22px;
          display: flex;
          margin: 0 5px;

          svg {
            margin: auto;
          }
        }

        &:hover {
          cursor: pointer;
          filter: brightness(1.3);
        }
      }

      .addAddress {
        color: #fff;
        font-family: kalamehBold;
        background: #0d1723;
        border-radius: 12px;
        border: 0;
        box-sizing: border-box;
        color: #eee;
        cursor: pointer;
        font-size: 18px;
        height: 100%;
        // outline: 0;
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      input {
        font-family: kalamehMedium;
      }


      .addresses {
        color: #fff;
        display: flex;
        justify-content: start;
        align-items: center;
        direction: rtl;

        ul {
          .addDesc {
            list-style: decimal;
          }
        }
      }

      &.Autocomplete {
        p {
          font-family: kalamehBold;
          color: #8f384d;
          direction: rtl;
        }
      }

      fieldset {
        border: 1px solid transparent;
      }

      &:hover fieldset {
        border: 1px solid transparent;
      }

      input {
        color: #9E9CFF;
        border-radius: 50px;
        background: #ECE4FF;
        padding: 10px 15px;

        &::placeholder {
          color: rgba(148, 147, 147, 0.6);
        }
      }

      &.checkbox {
        height: 100px;
        display: grid;
        grid-template-columns: auto auto auto;
        direction: rtl;

        label {
          span {
            font-family: kalamehMedium;
            color: rgba(255, 255, 255, 0.7);
          }
        }

        #tags-outlined-label {
          span {
            font-family: kalamehMedium;
            color: rgba(255, 255, 255, 0.7);
          }
        }
      }

      textarea {
        padding: 15px 10px;
        min-height: 150px;
        border-radius: 30px;
      }
    }

    .radioContainer {
      label {
        font-family: kalamehMedium;
        margin: 0 auto;
        color: #544287;
      }
    }

    .w-md-editor-toolbar {
      background-color: #303245;

      li > button {
        svg {
          fill: #ffffff;
          stroke: #ffffff;
          color: #ffffff;
        }
      }
    }

    .input {
      background: #ECE4FF;
      border: 0;
      box-sizing: border-box;
      font-size: 15px;
      height: 100%;
      outline: 0;
      padding: 10px 20px;
      width: 100%;
      font-family: kalamehMedium;

      &::placeholder {
        color: rgba(148, 147, 147, 0.6);
      }
    }

    .input.arrangeInput {
      width: 25%;
      height: 50%;
      margin: auto;
      background-color: #6c6c6c;
      text-align: center;
    }

    .cut {
      display: none;
      color: #544287;
      border-radius: 10px;
      height: 20px;
      right: 20px;
      position: absolute;
      transform: translateY(0);
      transition: transform 200ms;
      width: 150px;
    }

    .cut-short {
      width: 50px;
    }

    .input:focus ~ .cut,
    .input:not(:placeholder-shown) ~ .cut {
      transform: translateY(8px);
    }

    .placeholder {
      display: block;
      direction: rtl;
      width: 95%;
      line-height: 14px;
      position: relative;
      padding: 10px 0;

    }

    //.input:focus ~ .placeholder,
    //.input:not(:placeholder-shown) ~ .placeholder {
    //  transform: translateY(-32px) translateX(8px) scale(0.75);
    //  visibility: visible;
    //}

    //.input:not(:placeholder-shown) ~ .placeholder {
    //  color: #b2b2ba;
    //}
    //
    //.input:focus ~ .placeholder {
    //  color: #544287;
    //}
  }
}

/* Table Styles ******************************************************************************************************************************************/
.submit {
  font-family: kalamehBold;
  border-radius: 50px;
  background-color: #544287;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  // outline: 0;
  text-align: center;
  width: 100%;
  filter: blur(1px) opacity(0.5);
  transition: all 0.5s ease-in-out;

  &:hover,
  &:active,
  &:focus {
    filter: blur(0px) opacity(1);
  }

  &:disabled {
    filter: blur(0px) opacity(0.5);
  }
}

.add_address {
  font-family: kalamehBold;
  background: #0d1723;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  // outline: 0;
  text-align: center;
  width: 100%;
  margin: 0 0 30px 0;
}

.showButton {
  cursor: pointer;
  background-color: transparent;
  margin: auto;
  color: #ffffff;
  font-family: kalamehMedium;
  height: 100%;
  width: 80%;
  border-radius: 8px;
  text-align: center;
  border: 2px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
  rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
  rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

  &:hover {
    background-color: rgba(33, 37, 48, 0.8);
  }

  .flipAnimation {
    width: 10px;
    height: 10px;
    display: block;
  }
}

// Breakpoints
$bp-maggie: 15em;
$bp-lisa: 30em;
$bp-bart: 48em;
$bp-marge: 62em;
$bp-homer: 75em;

.table-wrapper {
  a {
    color: #ffffff;

    &:hover,
    &:focus {
      color: #ffffff;
    }
  }

  .container {
    position: relative;
    margin: 20px auto;

    @media (min-width: $bp-bart) {
      margin: 20px auto;
    }

    @media (min-width: $bp-homer) {
      margin: 2em auto;
      max-width: $bp-homer;
    }
  }

  .responsive-table {
    width: 100%;
    margin-bottom: 1.5em;
    border-spacing: 0;
    direction: rtl;

    .functions-table {
      span {
        margin: 0 5px;
        transition: all ease-in-out 0.5s;
        cursor: pointer;

        &:hover svg {
          filter: opacity(0.8);
        }
      }
    }

    @media (min-width: $bp-bart) {
      font-size: 0.9em;
    }

    @media (min-width: $bp-marge) {
      font-size: 1em;
    }

    thead {
      // Accessibly hide <thead> on narrow viewports
      position: absolute;
      clip: rect(1px 1px 1px 1px);
      /* IE6, IE7 */
      padding: 0;
      border: 0;
      height: 1px;
      width: 1px;
      overflow: hidden;

      @media (min-width: $bp-bart) {
        // Unhide <thead> on wide viewports
        position: relative;
        clip: auto;
        height: auto;
        width: auto;
        overflow: auto;
      }

      th:nth-child(odd) {
        border: 1px solid transparent;
      }

      th {
        border: 1px solid transparent;
        font-weight: normal;
        text-align: center;
        position: relative;

        label {
          color: #FFFFFF;
          font-family: kalamehMedium;
          position: absolute;
        }

        .MuiAutocomplete-hasPopupIcon.css-1h51icj-MuiAutocomplete-root .MuiOutlinedInput-root {
          border: none;
          outline: none;
          padding-right: 20px;

          input {
            color: #FFFFFF;
            font-family: kalamehMedium;
            min-width: 15px;
          }

          fieldset {
            border: none;
          }
        }

        .arrowSort {
          margin: 0 5px;

          span {
            transition: all ease-in-out 0.3s;
            display: block;
            width: 16px;
            height: 16px;
            cursor: pointer;

            svg {
              width: 16px;
              height: 16px;
            }

            &:hover svg {
              filter: opacity(0.5);
            }

            &.active {
              svg {
                stroke: #ffc100;
                fill: #ffc100;
              }
            }

          }
        }
      }
    }

    // Set these items to display: block for narrow viewports
    tbody,
    tr,
    th,
    td {
      font-family: kalamehMedium;
      display: block;
      padding: 0;
      text-align: left;
      white-space: normal;
      max-width: 100%;
      overflow: hidden;

      .noTag {
        color: #a71a1a;
      }

      .showImg {
        font-family: kalamehMedium;
        border-radius: 4px;
        background: #22262f;
        outline: none;
        border: 1px solid #a9a9a9;
        color: #FFF;
        transition: all 0.3s ease-in-out;
        padding: 2px 8px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(43, 43, 43, 0.3) 0px 3px 7px -3px;

        &:hover {
          cursor: pointer;
          filter: brightness(1.3);
        }

        &:disabled {
          filter: opacity(0.3);
          cursor: auto;
        }
      }
    }

    tr {
      @media (min-width: $bp-bart) {
        // Undo display: block
        display: table-row;
      }
    }

    th,
    td {
      padding: 0.5em;
      vertical-align: middle;

      .tableBtn {
        width: 120px;
        font-family: kalamehMedium;
        border-radius: 4px;
        background: #22262f;
        outline: none;
        border: 1px solid #a9a9a9;
        color: #FFF;
        transition: all 0.3s ease-in-out;
        padding: 2px 8px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(43, 43, 43, 0.3) 0px 3px 7px -3px;

        &:hover {
          cursor: pointer;
          filter: brightness(1.3);
        }
      }

      @media (min-width: $bp-lisa) {
        padding: 0.75em 0.5em;
      }

      @media (min-width: $bp-bart) {
        // Undo display: block
        display: table-cell;
        padding: 0.5em;
      }

      @media (min-width: $bp-marge) {
        padding: 0.75em 0.5em;
      }

      @media (min-width: $bp-homer) {
        padding: 0.75em;
      }
    }

    caption {
      margin-bottom: 1em;
      font-size: 1em;
      font-weight: bold;
      text-align: center;

      @media (min-width: $bp-bart) {
        font-size: 1.5em;
      }
    }

    tfoot {
      font-size: 0.8em;
      font-style: italic;

      @media (min-width: $bp-marge) {
        font-size: 0.9em;
      }
    }

    tbody {
      @media (min-width: $bp-bart) {
        // Undo display: block
        display: table-row-group;
      }

      tr {
        position: relative;
        margin-bottom: 1em;

        &.after {
          transition: transform 0.5s;
          transform-style: preserve-3d;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          backdrop-filter: blur(2px);
          -webkit-backdrop-filter: blur(10px);
          background-color: rgba(78, 79, 91);
          transform: rotateX(90deg) translateZ(25px);
          display: table;

          &.active {
            transform: rotateX(0deg) translateZ(-25px);
          }

          th[scope="row"] {
          }

          td {
          }
        }

        @media (min-width: $bp-bart) {
          // Undo display: block
          display: table-row;
          border-width: 1px;
        }

        &:last-of-type {
          margin-bottom: 0;
        }

      }

      th[scope="row"] {
        text-align: center;
        background-color: transparent;
        //box-shadow: rgba(0, 0, 0, 0.3) 0px -50px 36px -28px inset;

        input {
          font-family: kalamehMedium;
          font-size: 16px;
          text-align: center;
        }

        @media (min-width: $bp-lisa) {
          border-left: 1px solid transparent;
          border-bottom: 1px solid transparent;
        }

        @media (min-width: $bp-bart) {
          background-color: transparent;
        }
      }

      td {


        .tableBtn {
        }

        input {
          color: #FFFFFF;
          font-family: kalamehMedium;
          font-size: 16px;
          text-align: center;
          background-color: transparent;
          border: none;
          outline: none;
        }

        @media (min-width: $bp-bart) {
          border-left: 1px solid transparent;
          border-bottom: 1px solid transparent;
          text-align: center;
        }

        &:last-of-type {
          @media (min-width: $bp-bart) {
            border-right: 1px solid transparent;
          }
        }
      }

      td[data-type="currency"] {
        text-align: right;
      }

      td[data-title]:before {
        content: attr(data-title);
        float: right;
        font-size: 0.8em;
        color: #ffffff;

        @media (min-width: $bp-lisa) {
          font-size: 0.9em;
        }

        @media (min-width: $bp-bart) {
          // Don’t show data-title labels
          content: none;
        }
      }
    }
  }
}

.addNewIndex {
  width: 45px;
  height: 45px;
  position: absolute;
  left: -20px;
  top: -20px;
  background: transparent;

  display: flex;
  border-radius: 50%;
  font-size: 20px;
  z-index: 10;
}

.addNewIndex:hover {
  filter: brightness(1.3);
  cursor: pointer;
}

.addNewIndex svg {
  width: 40px;
  height: 40px;
  margin: auto;
  fill: #303245;
}

//***********************************************************************************************************************************************************


/* Responsive */

//@media screen and (max-width: 1460px) {
//  .fl-table.Main {
//    thead {
//      tr {
//        th:nth-child(3) {
//          display: none;
//        }
//      }
//    }
//
//    tbody {
//      tr {
//        td:nth-child(3) {
//          display: none;
//        }
//      }
//    }
//  }
//}

@media screen and (max-width: 1200px) {

  .mainContent {

    .companyTitle {

      span {

      }
    }

    .topItems {
      grid-template-columns: auto auto;

      .Items {

        &:after {

        }


      }
    }

    .MainItem {
      h3 {

      }
    }
  }

}

@media screen and (max-width: 900px) {

  .mainContent {

    .companyTitle {

      span {

      }
    }

    .topItems {
      grid-template-columns: auto;

      .Items {

        &:after {

        }


      }
    }

    .MainItem {
      h3 {

      }
    }
  }

}

@media screen and (max-width: 650px) {

  .SideUnionNav {
    .branchMenuContainerRes {
      margin: auto 20px;

      nav {
        padding: 0;
        width: auto;
        height: auto;
        border-radius: 8px;
        background-color: transparent;
      }

      #lock-button {
        background-color: #0d1723;
        padding: 0 10px;
        border-radius: 8px;
        border: 2px solid #FFFFFF;
        color: #FFFFFF;
        transition: all ease-in-out 0.5s;
        direction: rtl;

        div {
          display: block;
        }

        .css-10hburv-MuiTypography-root {
          font-family: kalamehMedium !important;
        }

        &:hover {
          filter: opacity(0.8);
        }

        p {
          color: #FFFFFF;
          font-family: kalamehMedium !important;
          margin: 0 5px;
          font-size: 16px;
        }
      }
    }

    .branchProps {

      button {
        width: 100%;
        margin: 15px 0;
        font-family: kalamehMedium;
        font-weight: 500;
        border: 0;
        position: relative;
        color: #FFFFFF;
        background-color: transparent;
        cursor: pointer;
        transition: all ease-in-out 0.3s;
        font-size: 20px;

        a {
          color: #FFFFFF;
        }

        &:hover {

        }
      }

    }
  }


  .mainContent {

    .panelTitle {
      display: block;
    }

    .branchContainer {
      display: none;
    }

    .sideUnionNav {
      display: block;
    }

  }

}

@media screen and (max-width: 450px) {

  .mainContent {

    .companyTitle {
      font-size: 25px;

      span {

      }
    }

    .topItems {
      grid-template-columns: auto;

      .Items {
        width: 200px;
        font-size: 14px;

        &:after {

        }


      }
    }

    .MainItem {

      h3 {

      }
    }
  }

}
